.col-done {
  width: 1em;
}

.col-prio {
  width: 3em;
}

.col-todo {
  width: 90%;
}

.col-crea {
  width: 10em;
}

.col-comp {
  width: 10em;
}

.tag-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.highlight {
  background-color: yellow;
}
